.navbar {
    background-color: #dbb926;
    height: 100px;
    border-radius: 10px;
}

.links {
    float: left;
    margin-right: 15px;
}

.rechts {
    float: right;
    margin-left: 15px;
}
